/* Mobile */
@media only screen and (max-width: (@tabletBreakpoint - 1)) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: @tabletBreakpoint) and (max-width: (@computerBreakpoint - 1)) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: @computerBreakpoint) and (max-width: (@largeMonitorBreakpoint - 1)) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: @largeMonitorBreakpoint) and (max-width: (@widescreenMonitorBreakpoint - 1)) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: @widescreenMonitorBreakpoint) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}

body {
  font-size: 15px !important;
}

a {
  color: #5f5f5f;
  text-decoration: none;
}

a:hover {
  color: #444444;
  text-decoration: none;
}


p {
  margin: 0 0 2em;
  line-height: 1.5285em !important;
}

.ui.grid{
		padding: 0 !important;
}
.pushable.segment{
		margin: 0 !important;
}

.posts {
  height: 100%;
  overflow: scroll;
}

.segments{
  margin: 1rem 0 !important;
}

.ui .segments{
  margin: 2rem 0 !important;
}

.segment {
  top: 20px;
  background: #f8f8f8 !important;
}
.sidebar.vertical{
  top:20px;
}
.menu {
  background: #f7f6f6 !important;
}
.ui.label .right {
  float:right;
}

.ui.label .left {
  float:left;
}

.ui.left.sidebar {
  margin-top: 22px !important;
}

.ui.selection.list .list>.item, .ui.selection.list>.item {
  color: #000 !important;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.post-count-label {
  position: absolute !important;
  transform: translateX(-126%) !important;
  padding: .501em .833em !important
 }

 /* make segments flat*/
 .ui.segment {
  border-radius: 0em !important;
 }

 .ui.left.sidebar, .ui.right.sidebar {
    width:24% !important;
    z-index: inherit;
 }

 .ui.segments .segment {
   font-size: 1.14rem !important;
 }
 .ui.segment{
   background: #fff !important;
 }

 /* Search */
.ui[class*="right aligned"].search>.results {
  right: auto;
  left: 0;
}

.ui.selection.dropdown{
  padding: .78571429em 1.5em .78571429em !important;
  min-height: initial !important;
  font-size: .85714286rem;
}

.ui.selection.dropdown > .dropdown.icon{
  display: none !important;
}