{{set . "title" .title}}
{{template "header.html" .}}

<div class="ui segment">
    <div class="ui menu">
        <a class="item" href="{{url "Settings.View"}}">{{msg . "settings.settings"}}</a>
        <a class="item active">{{msg . "settings.password"}}</a>
    </div>

    <div class="ui form">
        <form class="ui form" action="{{url "Settings.PasswordPost"}}" method="POST">
            <div class="field">
                <label>{{msg . "settings.current_password"}}</label>
                <div class="ui fluid multiple">
                    <input type="password" name="current-password" placeholder="{{msg . "settings.current_password"}}">
                </div>
            </div>

            <div class="field">
                <label>{{msg . "settings.new_password"}}</label>
                <div class="ui fluid multiple">
                    <input type="password" name="new-password" placeholder="{{msg . "settings.new_password"}}">
                </div>
            </div>


            <div class="field">
                <label>{{msg . "settings.repeat_password"}}</label>
                <div class="ui fluid multiple">
                    <input type="password" name="repeat-password" placeholder="{{msg . "settings.repeat_password"}}">
                </div>
            </div>

            <button class="ui button" type="submit">{{msg . "settings.password"}}</button>

        </form>
    </div>

</div>

{{template "footer.html" .}}