{{set . "title" .title}}
{{template "header.html" .}}

<div class="ui segment">
    <div class="ui menu">
        <a class="item active">Settings</a>
        <a class="item" href="{{url "Settings.PasswordPost"}}">Change Password</a>
    </div>

    <div class="ui form">
        <form class="ui form" action="{{url "Settings.SettingsPost"}}" method="POST">
            <div class="field">
                <label>My Unique User Id</label>
                <div class="ui fluid multiple">
                    <input type="text" disabled value="{{ .uuid}}">
                </div>
            </div>
            {{ $headerChannelsLength := 0}}
            {{if .settings.headerChannels}}
            {{ $headerChannelsLength = len .settings.headerChannels }}
            {{end}}
            <div class="field">
                <label>Header Channel List (max 10)</label>
                <div class="ui fluid multiple search selection header-channels dropdown">
                    <input name="header-channels" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">{{msg . "post.new.channels"}}</div>
                </div>
            </div>
            {{if gt $headerChannelsLength  0}}
            <script>
                var headerChannelsValues = {{ marshal .settings.headerChannels }};

                headerChannels = JSON.parse(headerChannelsValues);
                Object.keys(headerChannels).map(function (key, index) {
                    headerChannels[key].selected = true;
                    delete headerChannels[key].lastRead
                    delete headerChannels[key].slug
                });
                $('.header-channels.dropdown')
                    .dropdown({
                        values: headerChannels
                    });
            </script>
            {{end}}

            {{ $todaysChannelsLength := 0}}
            {{if .settings.todaysChannels}}
            {{ $todaysChannelsLength = len .settings.todaysChannels }}
            {{end}}
            <div class=" field">
                <label>Customized Today's Posts</label>
                <div class="ui toggle checkbox customized-todays-select">
                    <input type="checkbox" tabindex="0" class="hidden" {{if gt $todaysChannelsLength 0}}
                        checked="checked" {{end}}>
                </div>
            </div>

            <div class="field customized-todays-posts {{if lt $todaysChannelsLength 1}}transition hidden{{end}}">
                <label>Select up to 5 channel</label>
                <div class="ui fluid multiple search selection todays-posts-channels dropdown">
                    <input name="todays-posts-channels" multiple=true type="hidden" />
                    <i class="dropdown icon"></i>
                    <div class="default text">{{msg . "post.new.channels"}}</div>
                </div>
            </div>
            {{if gt $todaysChannelsLength 0}}
            <script>
                var todayChannelsValues = {{ marshal .settings.todaysChannels }};

                todayChannels = JSON.parse(todayChannelsValues);
                Object.keys(todayChannels).map(function (key, index) {
                    todayChannels[key].selected = true;
                    todayChannels[key].value = todayChannels[key].id
                    delete todayChannels[key].lastRead
                    delete todayChannels[key].slug
                });
                $('.todays-posts-channels.dropdown')
                    .dropdown({
                        values: todayChannels
                    });
            </script>
            {{end}}

            <div class="inline fields">
                <label>Posts Per Page</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="post-per-page" {{if eq .settings.postPerPage 5.0}} checked="checked"
                            {{end}} value="1">
                        <label>5</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="post-per-page" {{if eq .settings.postPerPage 10.0}} checked="checked"
                            {{end}} value="2">
                        <label>10</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="post-per-page" {{if eq .settings.postPerPage 25.0}} checked="checked"
                            {{end}} value="3">
                        <label>25</label>
                    </div>
                </div>
            </div>


            <div class="inline fields">
                <label>Topic Per Page</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="topic-per-page" {{if eq .settings.topicPerPage 5.0}} checked="checked"
                            {{end}} value="1">
                        <label>5</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="topic-per-page" {{if eq .settings.topicPerPage 10.0}}
                            checked="checked" {{end}} value="2">
                        <label>10</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="topic-per-page" {{if eq .settings.topicPerPage 25.0}}
                            checked="checked" {{end}} value="3">
                        <label>25</label>
                    </div>
                </div>
            </div>

            <button class="ui button" type="submit">Save</button>

        </form>
    </div>

</div>

{{template "footer.html" .}}