<div class="field">
    <a class="ui mini button editor-button" data-content="{{msg . "editor.refto.pattern"}}"> {{msg . "editor.refto"}} </a>
    <a class="ui mini button editor-button" data-content="{{msg . "editor.notation.pattern"}}"> {{msg . "editor.notation"}} </a>
    <a class="ui mini button editor-button" data-content="{{msg . "editor.spoiler.pattern"}}"> {{msg . "editor.spoiler"}} </a>
    <a class="ui mini button editor-button" data-content="{{msg . "editor.url.pattern"}}"> {{msg . "editor.url"}} </a>
</div>