  {{if (session "user" .)  }}
  <div class="ui segment">
      <form class="ui form" action="{{url "Topic.Reply" .topic.Slug}}" method="POST">
          {{template "_partials/editor_buttons.html"}}
          <div class="field">
          {{if .post.Content}}
            <textarea name="content" id="content">{{.post.Content}}</textarea>
          {{else}}
            <textarea name="content" id="content" placeholder="{{msg . "post.new.content"}}"></textarea>
          {{end}}  
          </div>

          <button class="ui button" type="submit">{{msg . "post.new.send"}}</button>
        
      </form>
  </div>
  {{end}}