  {{if and (session "user" .) (not .topic.IsLocked)  }}
  <div class="ui segment">
      <form class="ui form" hx-target="#content" hx-post="{{url "Topic.Reply" .topic.Slug}}" method="POST">
          {{template "_partials/editor_buttons.html" .}}
          <div class="field">
          {{if .post.Content}}
            <textarea name="content">{{.post.Content}}</textarea>
          {{else}}
            <textarea name="content"placeholder="{{msg . "post.reply" .topic.Name}}"></textarea>
          {{end}}  
          </div>
          <button class="ui button" type="submit">{{msg . "post.new.send"}}</button>
      </form>
  </div>
  {{end}}