<div class="three ui buttons">
        <button class="ui button">{{msg . "global.try"}}</button>
        <button class="ui button">{{msg . "global.smth"}}</button>
        <a class="ui button" href="{{url "Post.New"}}">{{msg . "global.new"}}</a>
      </div>
        <a class="item">
            <div class="ui label mini horizontal">
            23
          </div>
         Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
          
        </a>

        <a class="active item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
         
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
      
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
         
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
       
        </a>
        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
        
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
        
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
        
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>

        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>