<div class="three ui buttons">
        <button class="ui button">Try</button>
        <button class="ui button">Smth</button>
        <button class="ui button">New</button>
      </div>
        <a class="item">
            <div class="ui label mini horizontal">
            23
          </div>
         Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
          
        </a>

        <a class="active item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
         
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
      
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
         
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
       
        </a>
        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
        
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
        
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet 
        
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>

        <a class="item">
         <div class="ui label mini">
            23
          </div>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>

        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>
        <a class="item">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        </a>