{{if .pagination}}

{{if gt .posts.TotalPage 1 }}
  <div class="ui right floated" style="margin-top: 1rem !important;">
    {{if gt .posts.Page 1 }}
    <a class="ui button tiny"
       href="{{index .pagination .posts.PrevPage }}"
       hx-replace-url="true"
       hx-target="#content"
       hx-get="{{index .pagination .posts.PrevPage }}"
       hx-swap="show:window:top"
    >&laquo;
    </a>
    <link rel="prev" href="{{index .pagination .posts.PrevPage }}" />
    {{end}}


    <select class="ui compact dropdown topic-pages">
      {{ range $key, $val := .pagination}}
      <option value="{{ $val }}" {{if eq $key $.posts.Page}} selected="selected" {{end}}>{{ $key }}</option>
      {{ end }}
    </select>
    /
    <a class="ui button tiny"
       href="{{index .pagination .posts.TotalPage}}"
       hx-replace-url="true"
       hx-target="#content"
       hx-get="{{index .pagination .posts.TotalPage}}"
       hx-swap="show:window:top"
    >{{ .posts.TotalPage }}
    </a>

    {{if lt .posts.Page .posts.TotalPage }}
    <a class="ui button tiny"
       href="{{index .pagination .posts.NextPage }}"
       hx-replace-url="true"
       hx-target="#content"
       hx-get="{{index .pagination .posts.NextPage }}"
       hx-swap="show:window:top"
    >&raquo;
    </a>
    <link rel="next" href="{{index .pagination .posts.NextPage }}" />

    {{end}}
  </div>
{{end}}

{{end}}