{{if .pagination}}

{{if gt .posts.TotalPage 1 }}
  <div class="ui right floated">
    {{if gt .posts.Page 1 }}
    <a class="ui button tiny" hx-replace-url="true" hx-target="#content" hx-get="{{index .pagination .posts.PrevPage }}">&laquo;</a>
    {{end}}


    <select class="ui compact dropdown topic-pages">
      {{ range $key, $val := .pagination}}
      <option value="{{ $val }}" {{if eq $key $.posts.Page}} selected="selected" {{end}}>{{ $key }}</option>
      {{ end }}
    </select>
    /
    <a class="ui button tiny" hx-replace-url="true" hx-target="#content" hx-get="{{index .pagination .posts.TotalPage}}">{{ .posts.TotalPage }}</a>

    {{if lt .posts.Page .posts.TotalPage }}
    <a class="ui button tiny" hx-replace-url="true" hx-target="#content" hx-get="{{index .pagination .posts.NextPage }}">&raquo;</a>
    {{end}}
  </div>
{{end}}

{{end}}