<!-- Right Sidebar Large Screen -->
<div class="four wide column large screen only">
    <!-- User View -->
    {{if (session "fulluser" .)  }}
    <div class="ui segment">
        <div class="five ui buttons menu">
            <a class="icon item button tiny"  href="{{url "User.Profile" (session "fulluser" .).Slug}}">
              <i class="user icon"></i>
            </a>
            <a class="icon item button popup" href="{{url "Post.New"}}" data-content="{{msg . "global.new.topic"}}" data-position="bottom center">
              <i class="add icon"></i>
            </a>
            <a class="icon item button popup" href="{{url "Settings.View"}}" data-content="{{msg . "user.settings"}}" data-position="bottom center">
              <i class="cog icon"></i>
            </a>
            <a class="icon item button active popup" data-content="{{msg . "user.setting.night.mode"}}" data-position="bottom center">
              <i class="moon icon"></i>
            </a>
            <a class="icon item button popup" href="{{url "User.Logout"}}" data-content="{{msg . "user.form.logout"}}" data-position="bottom center">
              <i class="sign out alternate icon"></i>
            </a>
            
        </div>
    </div>
    {{else}}
    <!-- Guest View -->
    {{template "_partials/login.html" .}}
    {{end}}

    {{if and .topic .topic.Channels}}
    <div class="ui sticky">
    <div class="ui segment">
        <div class="header">{{msg . "topic.channels"}}</div>
        <div class="ui vertical visible list divided selection">
            {{ range .topic.Channels}}
                <a class="item" href="{{url "Channel.View" .Slug}}">
                  {{.Name}}
                </a>
            {{end}}
        </div>
    </div>
    </div>
    {{end}}
      
</div>
<!-- Right Sidebar Large Screen End-->