<!-- Right Sidebar Large Screen -->
<div class="four wide column large screen only">
    <!-- Error Messages Start -->
    {{template "flash.html" .}}
    <!-- User View -->
    {{if (session "user" .)  }}
    <div class="ui segment">
        <div class="five ui buttons menu">
            <a class="icon item button tiny">
              <i class="user icon"></i>
            </a>
            <a class="icon item button">
              <i class="cog icon"></i>
            </a>
            <a class="icon item button">
              <i class="envelope icon"></i>
            </a>
            <a class="icon item button active">
              <i class="moon icon"></i>
            </a>
            <a class="icon item button" href="{{url "User.Logout"}}">
              <i class="sign out alternate icon"></i>
            </a>
            
        </div>
    </div>
    {{else}}
    <!-- Guest View -->
    {{template "_partials/login.html" .}}
    {{end}}

    {{if and .topic .topic.Channels}}
    <div class="ui segment">
        <div class="header">{{msg . "topic.channels"}}</div>
        <div class="ui vertical visible list divided selection">
            {{ range .topic.Channels}}
                <a class="item" href="{{url "Channel.View" .Slug}}">
                  {{.Name}}
                </a>
            {{end}}
        </div>
    </div>
    {{end}}

    <div class="ui segment">
        <div class="header">{{msg . "similar.topics"}}</div>
        <div class="ui vertical visible list divided selection">
            <a class="item">
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
              </a>
                <a class="item">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                </a>
        </div>
    </div>      
      
</div>
<!-- Right Sidebar Large Screen End-->