<!-- Right Sidebar Large Screen -->
<div class="four wide column computer screen only">
    <!-- User View -->
    {{if not (session "fulluser" .)  }}
        <!-- Guest View -->
        {{template "_partials/login.html" .}}
    {{end}}

    {{if and .topic .topic.Channels}}
    <div class="ui sticky computer only row">
    <div class="ui segment">
        <div class="header">{{msg . "topic.channels"}}</div>
        <div class="ui vertical visible list divided selection">
            {{ range .topic.Channels}}
                <a class="item" hx-replace-url="true" hx-target="#content" hx-get="{{url "Channel.View" .Slug}}">
                  {{.Name}}
                </a>
            {{end}}
        </div>
    </div>
    </div>
    {{end}}

    {{if .related}}
    <div class="ui sticky computer only row">
        <div class="ui segment">
            <div class="header">{{msg . "topic.channels"}}</div>
            <div class="ui vertical visible list divided selection">
                {{ range .related }}
                <a class="item" hx-replace-url="true" hx-target="#content" hx-get="{{url "Topic.View" .Slug}}">
                {{.Name}}
                </a>
                {{end}}
            </div>
        </div>
    </div>
    {{end}}

    <!-- Footer -->
    <div class="ui section divider"></div>
    <div class="ui horizontal small divided link list"  style="float:left">
        <div class="item">
            © copyright 2024 {{config "app.name" ""}}
        </div>
    </div>

    <div class="ui horizontal small divided link list"  style="float:right">
        <a class="right item" href="{{config "footer.about.url" "#"}}" target="_blank">
        {{config "footer.about.name" "about"}}
        </a>

        <a class="item right" href="{{config "footer.tos.url" "#"}}" target="_blank">
        {{config "footer.tos.name" "tos"}}
        </a>

        <a class="item right" href="{{config "footer.faq.url" "#"}}" target="_blank">
        {{config "footer.faq.name" "faq"}}
        </a>

        <a class="item right" href="https://github.com/sociozat/sociozat" target="_blank">
           <i class="icon heart grey"></i>
        </a>
    </div>

</div>
<!-- Right Sidebar Large Screen End-->