{{if not (session "isHtmx" .)}}
{{ template "header.html" . }}
{{ end }}
<div class="one wide column"></div>
<div class="eight wide column">
    {{template "flash.html" .}}

<div class="ui segment">
  <h3> <a href="{{url "Topic.View" .post.Topic.Slug }}">{{.post.Topic.Name}} </a></h3>
</div>

<div class="ui segment">
    <form class="ui form" action="{{url "Post.Update" .post.ID}}" method="POST">
        {{template "_partials/editor_buttons.html" .}}
        <div class="field">
            <label>{{msg . "post.update.content"}}</label>
            <textarea name="content" id="content">{{.post.Content}}</textarea>
        </div>
        <button class="ui button" type="submit">{{msg . "post.update"}}</button>
    </form>
</div>

</div> <!-- Eight Grid -->
{{template "_partials/right.html" .}}

{{template "footer.html" .}}