{{set . "title" .title}}
{{template "header.html" .}}


<div class="ui segment">
    <form class="ui form" action="{{url "Post.Create"}}" method="POST">
        <div class="field">
          <label>{{msg . "post.new.name"}}</label>
          <input type="text" name="name" size="19" placeholder="{{msg . "post.new.name.placeholder"}}" value="{{.flash.username}}" />
        </div>
        <div class="field">
          <label>{{msg . "post.new.content"}}</label>
          <textarea name="content" placeholder="{{msg . "post.new.content"}}"></textarea>
        </div>

        <div class="field">
            <label>{{msg . "post.new.channels"}}</label>
            <div class="ui fluid multiple search selection channels dropdown">
                <input name="tags" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">{{msg . "post.new.channels"}}</div>
            </div>
        </div>
        <button class="ui button" type="submit">{{msg . "post.new.send"}}</button>
       
    </form>
</div>
{{template "footer.html" .}}