{{set . "title" .post.Topic.Name}}
{{if not (session "isHtmx" .)}}
{{template "header.html" .}}
{{ end }}
<div class="one wide column"></div>
<div class="eight wide column">
    {{template "flash.html" .}}

<div class="ui segment">
  <h1><a class="link" href="{{url "Topic.View" .post.Topic.Slug }}" hx-replace-url="true" hx-target="#content" hx-get="{{url "Topic.View" .post.Topic.Slug }}">{{format .post.Topic.Name}} </a></h1>
</div>

{{with $post := .post}}

<div class="segments">

  <div class="ui card fluid" style="border-radius:0 !important;border: none !important;">
    <div class="content">
      <div class="meta">
        <a class="left" href="{{url "User.Profile" .User.Slug}}" hx-replace-url="true" hx-target="#content" hx-get="{{url "User.Profile" .User.Slug}}">{{format .User.Username}}</a>
        <span class="right floated">
            <a class="right aligned" href="#"><i class="ellipsis vertical icon  light grey"></i></a>
        </span>
      </div>
      <div class="description">
        <p>{{format $post.Content}}</p>
      </div>
    </div>
      {{template "_partials/post_footer.html" $post }}
  </div>

</div>
{{end}}

</div> <!-- Eight Grid -->
{{template "_partials/right.html" .}}

{{template "footer.html" .}}

