{{template "header.html" .}}

<div class="ui segment">
  <h3> <a href="{{url "Topic.View" .post.Topic.Slug }}">{{.post.Topic.Name}} </a></h3>
</div>


{{with $dot := .}}
<div class="segments">
  <!-- entries start -->
  <div class="ui segment" style="min-height: 6rem; margin-bottom:10px">
    <p>{{format .post.Content}}</p> 
    <div class="ui bottom attached label">
      <a  class="left aligned "
          href="https://www.facebook.com/sharer/sharer.php?u={{config "app.url" "" }}{{url "Post.View" .post.ID}}&t={{ .post.Topic.Name}}"
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
          target="_blank" title="Share on Facebook">
      <i class="icon facebook"></i>
      </a>

      <a class="left aligned " 
          href="https://x.com/share?url={{config "app.url" "" }}{{url "Post.View" .post.ID}}&text={{ .post.Topic.Name}}"
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
          target="_blank" title="Share on Twitter"
          style="margin-left:10px">
        <i class="icon twitter"></i>
      </a>
      <a class="left aligned " style="margin-left:10px"><i class="icon angle up green"></i> {{.post.Likes}}</a>
      <a class="left aligned " style="margin-left:10px"><i class="icon angle down red "></i> {{.post.Dislikes}}</a>

      <div class="ui dropdown post-config item right aligned" style="margin-left:10px">
        <i class="ellipsis horizontal icon"></i>
        <div class="menu">
          <!--<a class="item">{{ msg $dot "post.report"}}</a>//-->
          {{ if eq (session "user" $dot) .post.User.Username }}
              <a class="item" href="{{url "Post.Edit" .post.ID}}">{{msg $dot "post.edit"}}</a>
          {{ end }}
        </div>
      </div>

      <a class="right aligned"  href="{{url "User.Profile" .post.User.Slug}}" style="margin-left:10px">{{.post.User.Username}}</a>
      <a class="right aligned" href="{{url "Post.View" .post.ID}}">{{datetime .post.CreatedAt}}</a>
    </div>
  </div>
</div>
{{end}}

{{template "footer.html" .}}