{{template "header.html" .}}


<div class="ui segment">
  <h3> <a href="{{url "Topic.View" .post.Topic.Slug }}">{{.post.Topic.Name}} </a></h3>
</div>
        
<div class="segments">
  <!-- entries start -->
  <div class="ui segment" style="min-height: 6rem; margin-bottom:10px">
    <p>{{format .post.Content}}</p> 
    <div class="ui bottom attached label">
      <a  class="left aligned "
          href="https://www.facebook.com/sharer/sharer.php?u={{config "app.url" "" }}{{url "Post.View" .post.ID}}&t={{ .post.Topic.Name}}"
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
          target="_blank" title="Share on Facebook">
      <i class="icon facebook"></i>
      </a>

      <a class="left aligned " 
          href="https://twitter.com/share?url={{config "app.url" "" }}{{url "Post.View" .post.ID}}&text={{ .post.Topic.Name}}"
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
          target="_blank" title="Share on Twitter"
          style="margin-left:10px">
      <i class="icon twitter"></i>
      </a>
      <a class="left aligned " style="margin-left:10px"><i class="icon angle up green"></i> {{.post.Likes}}</a>
      <a class="left aligned " style="margin-left:10px"><i class="icon angle down red "></i> {{.post.Dislikes}}</a>

      <a class="right aligned" style="margin-left:10px">{{.post.User.Username}}</a>
      <a class="right aligned" href="{{url "Post.View" .post.ID}}">{{datetime .post.CreatedAt}}</a>
    </div>
  </div>
</div>


{{template "footer.html" .}}