{{set . "title" .title}}
{{template "header.html" .}}

<div class="ui segment">
    <form class="ui form" action="{{url "User.SaveUser"}}" method="POST">
      {{with $field := field "user.Username" .}}
      <div class="field">
        <label>{{msg $ "user.form.username"}}</label>
        <input type="text" name="{{$field.Name}}" size="19" value="{{$field.Flash}}">
        <span class="error">{{$field.Error}}</span>
      </div>  
      {{end}}
      {{with $field := field "user.Email" .}}
      <div class="field">
        <label>{{msg $ "user.form.email"}}</label>
        <input type="text" name="{{$field.Name}}" size="19" value="{{$field.Flash}}">
        <span class="error">{{$field.Error}}</span>
      </div>
      {{end}}
      {{with $field := field "user.Password" .}}
      <div class="field">
          <label>{{msg $ "user.form.password"}}</label>
          <input type="password" name="{{$field.Name}}"size="19" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
      </div>
      {{end}}

      <button class="ui button" type="submit">{{msg . "user.form.register"}}</button>
      <a href="{{url "App.Index"}}">{{msg . "global.cancel"}}</a>
    </form>
</div>
{{template "footer.html" .}}