{{set . "title" .title}}
{{if not (session "isHtmx" .)}}
{{ template "header.html" . }}
{{ end }}

<div class="one wide column"></div>
<div class="eight wide column">
	{{template "flash.html" .}}
	<div class="segments">
		{{with $dot := .}}
		{{ range $post := .posts}}
		<div class="ui card fluid" style="border-radius:0 !important;border: none !important;">
			<div class="content">
				<div class="ui header">
					<h3><a hx-replace-url="true" hx-target="#content" hx-get="{{url "Topic.View" .Topic.Slug}}"> {{format  .Topic.Name }}</a></h3>
				</div>
				<div class="description">
					<p>{{format .Content}}</p>
				</div>
			</div>
			{{template "_partials/post_footer.html" $post }}
		</div>
		{{ end }}
		{{ end }}
	</div>

	{{template "_partials/pagination.html" .}}

</div> <!-- Eight Grid -->
{{template "_partials/right.html" .}}

{{template "footer.html" .}}
