{{template "header.html" .}}


<div class="ui segment">
  <h3>{{.topic.Name}}</h3>
</div>
        
<div class="segments">

  <div class="ui segment">
    <div class="ui right floated">
      <select class="ui compact dropdown topic-pages">
      {{ range $key, $val := .pagination}}
        <option value="{{ $val }}" {{if eq $key $.posts.Page}} selected="selected"{{end}} >{{ $key }}</option>
      {{ end }}
      </select>
      /
      <a class="mini ui button" href="{{index .pagination .posts.TotalPage}}">{{ .posts.TotalPage }}</a> 
    </div>
  </div>

  <!-- entries start -->
  {{ range .posts.Records}}
  <div class="ui segment" style="min-height: 6rem; margin-bottom:10px">
  <p>{{format .Content}}</p> 
    <div class="ui bottom attached label">
      <a class="left aligned "><i class="icon facebook"></i></a>
      <a class="left aligned " style="margin-left:10px"><i class="icon twitter"></i></a>
      <a class="left aligned " style="margin-left:10px"><i class="icon angle up green"></i> {{.Likes}}</a>
      <a class="left aligned " style="margin-left:10px"><i class="icon angle down red "></i> {{.Dislikes}}</a>

      <a class="right aligned" style="margin-left:10px">{{.User.Username}}</a>
      <a class="right aligned">{{datetime .CreatedAt}}</a>
    </div>
  </div>
  {{ end }}

  <div class="ui segment">
    <div class="ui right floated">
      <select class="ui compact dropdown topic-pages">
      {{ range $key, $val := .pagination}}
        <option value="{{ $val }}" {{if eq $key $.posts.Page}} selected="selected"{{end}} >{{ $key }}</option>
      {{ end }}
      </select>
      /
      <a class="mini ui button" href="{{index .pagination .posts.TotalPage}}">{{ .posts.TotalPage }}</a> 
    </div>
  </div>

  <div class="ui segment">
      <form class="ui form" action="{{url "Topic.Reply" .topic.Slug}}" method="POST">
          <div class="field">
            <label>{{msg . "post.new.content"}}</label>
            <textarea name="content" placeholder="{{msg . "post.new.content"}}"></textarea>
          </div>
          <button class="ui button" type="submit">{{msg . "post.new.send"}}</button>
        
      </form>
  </div>
</div>

{{template "footer.html" .}}