{{set . "title" .topic.Name}}
{{set . "metaDesc" .topic.Name}}
{{if not (session "isHtmx" .)}}
{{ template "header.html" . }}
{{ end }}

<div class="one wide column computer only"></div>
<div class="eight wide column">
    {{template "flash.html" .}}

    <div class="ui title">
      <div class="ui segment">
          <div class="ui grey right ribbon label aligned post-count-label" style="float:left">
              <i class="icon comment"></i>{{.posts.TotalRecord}}
          </div>
          <div class="ui aligned">
              <h1><a class="link" hx-replace-url="true" hx-target="#content" hx-get="{{url "Topic.View" .topic.Slug }}">{{format .topic.Name}} </a></h1>
          </div>
      </div>
    </div>

    {{with $dot := .}}

    <div class="segments">
      <!-- entries start -->
        {{if gt .previousPostCount 0 }}
        <div class="ui tiny message">
            <div class="ui center aligned grid">
                <a class="link" href="{{url "Topic.View" .topic.Slug}}?page={{ .previousPostsPage }}" hx-replace-url="true" hx-target="#content" hx-get="{{url "Topic.View" .topic.Slug}}?page={{ .previousPostsPage }}">
                {{msg . "topic.trending.total" .previousPostCount }}
                </a>
            </div>
        </div>
        {{end}}
        {{ range $post := .posts.Records}}
        <div class="ui card fluid" style="border-radius:0 !important;border: none !important;">
            <div class="content">
                <div class="meta">
                    <a class="left" href="{{url "User.Profile" .User.Slug}}" hx-replace-url="true" hx-target="#content" hx-get="{{url "User.Profile" .User.Slug}}">
                        {{format .User.Username}}
                    </a>
                    <span class="right floated">
                        <a class="right aligned" href="#"><i class="ellipsis vertical icon  light grey"></i></a>
                    </span>
                </div>
                <div class="description">
                    <p>{{format .Content}}</p>
                </div>
            </div>
            {{template "_partials/post_footer.html"  $post }}
        </div>
        {{ end }}
      {{ end }}
      {{template "_partials/pagination.html" .}}
      {{template "_partials/editor.html" .}}
    </div>
</div> <!-- Eight Grid -->
{{template "_partials/right.html" .}}

<script>
    document.title= "{{.title}}"
</script>

{{template "footer.html" .}}
