<!DOCTYPE html>
<html lang="{{ config "i18n.default_language" "en"}}">
<head>
	<title>{{.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">

	{{ if .metaDesc }}
	<meta name="description" content="{{ .metaDesc }}">
	{{ end }}

	{{if config "site.logo" "" }}
	<link rel="shortcut icon" type="image/png" href='{{config "site.favicon" ""}}'>
	{{end}}

	<script src="/public/js/semantic.min.js"></script>
	<script src="/public/js/scripts.js"></script>
	{{range .moreStyles}}
	<link rel="stylesheet" type="text/css" href="/public/{{.}}">
	{{end}}
	{{range .moreScripts}}
	<script src="/public/{{.}}" type="text/javascript" charset="utf-8" defer></script>
	{{end}}
	<script>
		const BASE_URL = "{{url "App.Index"}}";
	</script>

	{{ if .canonical }}
	<link rel="canonical" href="{{ .canonical }}" />
	{{ end }}

	{{ if (config "gtag.id" "") }}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{config "gtag.id" ""}}"></script>
	{{ end }}
</head>

<body>
	<div class="ui left sidebar mbl vertical menu visible">
		<div class="ui grid mobile only" style="margin-top: 10px; margin-bottom: 5px">
			<div class="ui buttons">
				<button class="ui button" hx-target="#left" hx-get='{{url "App.Trending"}}' style="border-radius: 0 !important;">{{msg . "global.menu.trending"}}</button>
				<button class="ui button p-count cid0" hx-target="#left" hx-get='{{url "App.Today"}}' style="border-radius: 0 !important;">
					{{msg . "global.menu.today"}}
				</button>
			</div>
		</div>
		<div id="left">
			{{template "_partials/left.html" .}}
		</div>
	</div>

	<div class="ui right sidebar user vertical menu hidden">
		{{if (session "user" .)  }}
			<a class="item" href='{{url "User.Profile" (session "fulluser" .).Slug}}'  hx-target="#content" hx-get='{{url "User.Profile" (session "fulluser" .).Slug}}' >{{msg . "user.profile"}}</a>
			<a class="item" href='{{url "Post.New"}}' hx-target="#content" hx-get='{{url "Post.New"}}'>{{msg . "global.new.topic"}}</a>
			<a class="item" href='{{url "Settings.View"}}' hx-target="#content" hx-get='{{url "Settings.View"}}'>{{msg . "user.settings"}}</a>
			<a class="item" href='{{url "User.Logout"}}' hx-target="#content" hx-get='{{url "User.Logout"}}'>{{msg . "user.form.logout"}}</a>
		{{else}}
			{{template "_partials/login.html" .}}
		{{end}}
	</div>
	<div class="ui top fixed menu grid">
		<div class="computer only row">
			<div class="column">
				<div class="ui menu fixed">
					{{if config "site.logo" "" }}
					<div class="ui mini image middle aligned ">
						<img src='{{ config "site.logo" ""}}'>
					</div>
					{{end}}

					<a class="item" hx-target="#left" hx-get='{{url "App.Trending"}}'>{{msg . "global.menu.trending"}}</a>
					<a id="cid0"  class="item p-count cid0" hx-target="#left" hx-get='{{url "App.Today"}}'>
						{{msg . "global.menu.today"}}
					</a>

					<div class="menu">
						<div class="ui right aligned category search item" itemscope itemtype="https://schema.org/WebSite">
							<meta itemprop="url" content="/"/>
							<div class="ui transparent icon input" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
								<meta itemprop="target" content="/q/{search_term_string}"/>
								<input class="prompt" itemprop="query-input" type="text" name="search_term_string" placeholder='{{msg . "global.search"}}'>
								<i class="search link icon"></i>
							</div>
							<div class="results"></div>
						</div>
					</div>

					<div class="scrollable-wrapper">
						<div class="item link-group">
							{{ $settings := (session "settings" .)}}
							{{if $settings.headerChannels}}
								{{ range $channel := $settings.headerChannels }}
									<a class="link item p-count cid{{$channel.value}}" hx-replace-url="true" hx-target="#content" hx-get='{{url "Channel.View" $channel.slug}}' href='{{url "Channel.View" $channel.slug}}'>
										{{format $channel.name}}
									</a>
								{{end}}
							{{else}}
								{{ $headerChannels := (config "header.channels" "")}}
								{{if $headerChannels}}
									{{ $defaultChannels := split $headerChannels "," }} <!-- Split default channels -->
									{{ range $channel := $defaultChannels }}
									{{ $channelSlug := slugify $channel  }}
									<a class="link item p-count cid{{$channel}}" hx-replace-url="true" hx-target="#content" hx-get='{{url "Channel.View" $channelSlug }}' href='{{url "Channel.View" $channelSlug}}'>
										{{format $channel }}
									</a>
									{{end}}
								{{end}}
							{{end}}
						</div>
					</div>

					{{ if (session "user" . ) }}
					<div class="right menu">
						<a class="icon item button popup" href='{{url "Post.New"}}' hx-replace-url="true" hx-target="#content" hx-get='{{url "Post.New"}}' data-content='{{msg . "global.new.topic"}}' data-position="bottom center">
							<i class="add icon"></i>
						</a>

						<a class="icon item button popup" href='{{url "Settings.View"}}'  hx-replace-url="true" hx-target="#content" hx-get='{{url "Settings.View"}}' data-content='{{msg . "user.settings"}}' data-position="bottom center">
							<i class="cog icon"></i>
						</a>

						<a class="icon item button tiny" href='{{url "User.Profile" (session "fulluser" .).Slug}}' hx-replace-url="true" hx-target="#content" hx-get='{{url "User.Profile" (session "fulluser" .).Slug}}'>
							{{ session "user" . }}
						</a>
						<a class="icon item button popup" hx-replace-url="true" hx-target="#content" hx-get='{{url "User.Logout"}}' data-content='{{msg . "user.form.logout"}}' data-position="bottom center">
							<i class="sign out alternate icon"></i>
						</a>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<div class="tablet mobile only row">
			<div class="column">
				<div class="ui menu fixed">
					<a id="mobile_item" class="item left"><i class="align left icon"></i></a>

					<div class="scrollable-wrapper">
						<div class="item link-group">
							{{if $settings.headerChannels}}
								{{ range $channel := $settings.headerChannels }}
								<a class="item p-count cid{{$channel.value}}" hx-replace-url="true" hx-target="#content" hx-get='{{url "Channel.View" $channel.slug}}' href='{{url "Channel.View" $channel.slug}}'>
									{{format $channel.name}}
								</a>
								{{end}}
							{{else}}
								{{ $headerChannels := (config "header.channels" "")}}
									{{if $headerChannels}}
										{{ $defaultChannels := split $headerChannels "," }} <!-- Split default channels -->
										{{ range $channel := $defaultChannels }}
										{{ $channelSlug := slugify $channel  }}
										<a class="item p-count cid{{$channel}}" hx-replace-url="true" hx-target="#content" hx-get='{{url "Channel.View" $channelSlug }}' href='{{url "Channel.View" $channelSlug}}'>
											{{format $channel }}
										</a>
										{{end}}
									{{end}}
							{{end}}
						</div>
					</div>
					<a id="user_item" class="item right"><i class="user icon"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="pusher">
	<div class="ui two column doubling stackable grid" id="content">